@layer reset, base, tokens, recipes, utilities;

html {
    min-height: var(--sizes-full);
    height: var(--sizes-full);
}
#root {
    height: var(--sizes-full);
}
body {
    background-color: var(--bg-color);
    color: #ffffff;
    min-height: var(--sizes-full);
}
